#one{
    background-color: fuchsia;
}
#two{
    background-color: gold;
}
#three{
    background-color: green;
}
#o{
    background-color: fuchsia;  
}
#t{
    background-color: gold;
}
#th{
    background-color: green;
}
